.container  {
    justify-content:  center;
    display:  flex;
    align-items:  center;
    flex-direction:  column;
    height:  100vh;
    overflow: auto;
    width:  100vw;
    background-image:  url('../../../assets/pexels-aleksandar-pasaric-325185.jpg');
    h1  {
        margin:  0.5em  auto;
        color:  black;
        text-align:  center;
        font-family:  Georgia,  'Times  New  Roman',  Times,  serif;
    }
}
.userName{
    font-size: 2vmax;
    font-family: cursive;
    color: aqua;
    background-color: red;
    border-radius: 10px;
    width: 10%;
    height: 8%;
    text-align: center;

}
.chatbox  {
    background:  rgba(255,  255,  255,  0.05);
    width:  80%;
    height:  75%;
    border-radius:  0.2em;
    position:  relative;
    box-shadow:  1px  1px  12px  rgba(0,  0,  0,  0.1);
    .messages_list  {
        overflow-y:  auto;
        height:  100%;
background-image:  url('../../../assets/pexels-carlos-oliva-3586966.jpg');  
  background-size:  cover;
  
  }
    &__messages  {
        &.mine  .message-box  {
            float:  right;
        }
        .message-box  {
            float:  left;
        }
    }
    .message-box  {
        background:  rgba(255,  255,  255,  0.2);
        padding:  1em  0;
        height:  auto;
        width:  55%;
        border-radius:  5px;
        margin:  2em  1em;
        overflow:  auto;
        &  >  p.name  {
            color:  #FFF;
            font-size:  1em;
        }
        &  >  p.message  {
            color:  #FFF;
            font-size:  0.7em;
            margin:  0  2.8em;
        }
    }
    &__user-list  {
        background:  rgba(255,  255,  255,  0.1);
        width:  25%;
        height:  100%;
        float:  right;
        border-top-right-radius:  0.2em;
        border-bottom-right-radius:  0.2em;
    background-image:  linear-gradient(hotpink,  indigo);
        h1  {
            background:  rgba(255,  255,  255,  0.05);
            color:  rgba(255,  255,  255,  0.9);
            font-size:  0.9em;
            padding:  1em;
            margin:  0;
            font-weight:  300;
            text-align:  center;
        }
    }
    &__user  {
        width:  0.5em;
        height:  0.5em;
        border-radius:  100%;
        margin:  1em  0.7em;
        &--active  {
            @extend  .chatbox__user;
            background:  rgba(10,  245,  241,  0.8);
        }
    }
    p  {
        float:  left;
        text-align:  left;
        margin:  -0.25em  2em;
        font-size:  0.7em;
        font-weight:  300;
        color:  #FFF;
        width:  200px;
    }
    form  {
        background:  #222;
        input  {
            background:  rgb(159,  46,  46);
            position:  relative;
            height: 100px;

            bottom:  0;
            left:  0;
            border:  none;
            width:  100%;
            padding:  1.2em;
            outline:  none;
            color:  rgba(255,  255,  255,  0.9);
            font-weight:  300;
        }
    }
}
